# macOS
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/*
!.vscode/extensions.json

# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code Extension packaging
*.vsix

# Build / temp
dist/
out/

# Misc
*.log